{% trans_default_domain 'BkstgTimelineBundle' %}
{% extends '@BkstgCore/layout.html.twig' %}
{% set page_title = 'Timeline' %}

{% block content %}
  {% for entry in timeline %}
    <p>
      {% if entry.link is defined %}
        <a href="{{ entry.link }}">
      {% endif %}
      {{ timeline_render(entry) }}
      {% if entry.link is defined %}
        </a>
      {% endif %}
    </p>
  {% else %}
    {{ 'No timeline entries'|trans }}
  {% endfor %}
  {{ knp_pagination_render(timeline.iterator) }}
{% endblock %}
