{% trans_default_domain 'BkstgNotificationBundle' %}
<h4 class="sr-only">{{ 'timeline.header'|trans }}</h4>
<ul class="list-group">
  {% for entry in timeline %}
    <li class="list-group-item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            {% include '@BkstgCore/Partials/profile-picture.html.twig' with {'user': entry.subject.data} only %}
          </div>
          <div class="col-9">
            {{ timeline_render(entry) }}
          </div>
        </div>
      </div>
    </li>
  {% else %}
    <li class="list-group-item">{{ 'No timeline entries'|trans }}</li>
  {% endfor %}
</ul>
